

.root {
  @apply grid grid-cols-1 py-32;

  @screen md {
    @apply grid-cols-2;
  }
}

.headline {
  @apply text-4xl leading-10 font-extrabold text-white sm:text-5xl sm:leading-none
         sm:tracking-tight lg:text-6xl;
}

.description {
  @apply mt-5 text-xl leading-7 text-white;
}

.link  {
  @apply text-white pt-3 font-bold hover:underline cursor-pointer;
}
