

.parent {
  display: flex;
  /* row -> main axis is horizontal one */
  /* col -> main axis is vertical one */
  flex-direction: row;
  height: 1500px;
  justify-content: center;
}

.child {
  margin: 1px;
  width: 200px;
  height: 200px;
  background-color: red;
}



