

.root {
  @apply grid gap-0 grid-cols-1;

  @screen lg {
   @apply grid-cols-3 grid-rows-2;
  }

  & > * {
    @apply row-span-1 overflow-hidden;
    max-height: 800px;

    @screen lg {
      height: inherit;
    }
  }
}

.layoutA {
  & > *:nth-child(6n + 1),
  & > *:nth-child(6n + 5) {

    @screen lg {
      @apply col-span-2 row-span-2;
    }
  }
}

.layoutB {
  & > *:nth-child(6n + 2),
  & > *:nth-child(6n + 4) {

    @screen lg {
      @apply col-span-2 row-span-2;
    }
  }
}

